<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/benhAn/list}">Danh sách sản
                                    phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/benhAn/create}">Thêm mới sản
                                    phẩm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 style="text-align: center">Danh sách dự án</h2>
        </div>
    </div>
    <br>
<!--    <div class="row">-->
<!--        <div class="col-sm">-->
<!--            <form th:action="@{/duAn/search}" method="get" class="d-flex">-->
<!--                <div class="input-group">-->
<!--                    <input type="text" th:value="${tenDuAN}" class="form-control" placeholder="Nhập tên sản phẩm..."-->
<!--                           name="tenDuAN">-->
<!--                    <select id="doanhNghiep" name="doanhNghiep" class="form-select">-->
<!--                        <option value="" selected>Choose...</option>-->
<!--                        <option th:each="c : ${doanhNghieps}"-->
<!--                                th:value="${c.getIdDoanhNghiep()}"-->
<!--                                th:text="${c.getTenDoanhNghiep()}"-->
<!--                                th:selected="${c.getIdDoanhNghiep() == doanhNghiep?.getIdDoanhNghiep()}"></option>-->
<!--                    </select>-->
<!--                    <button type="submit" class="btn btn-primary">Search</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <br>
    <div class="row">
        <div class="col-sm">
            <table class="table caption-top">
                <caption>Danh sách dự án</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">mã bệnh án</th>
                    <th scope="col">tên bệnh nhân</th>
                    <th scope="col">ngày nhập viện</th>
                    <th scope="col">ngày ra viện</th>
                    <th scope="col">mô tả bệnh</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(medicalRecords)}">
                <th:block th:with="startIndex=${(currentPage - 1) * size }">
                    <tr th:each="c, iterStat: ${medicalRecords}">
                        <th scope="row" th:text="${startIndex + iterStat.index + 1}"></th>
                        <td th:text="${c.getId()}"></td>
                        <td th:text="${c.getPatientName()}"></td>
                        <td th:text="${c.getStartDate()}"></td>
                        <td th:text="${c.getEndDate()}"></td>
                        <td th:text="${c.getDescription()}"></td>
                        <td th:text="${c.getRecordClass().getName()}"></td>
<!--                        <td>-->
<!--                            <a type="button" class="btn btn-primary"-->
<!--                               th:href="@{'/duAn/update/' + ${duan.getMaDuAn()}}">Update</a>-->

<!--                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                                    th:attr="data-bs-target='#deleteModal' + ${duan.getMaDuAn()}">-->
<!--                                Delete-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-info" data-bs-toggle="modal"-->
<!--                                    th:attr="data-bs-target='#detailsModal' + ${duan.getMaDuAn()}">-->
<!--                                Details-->
<!--                            </button>-->
<!--                            &lt;!&ndash;                            detail&ndash;&gt;-->
<!--                            <div class="modal fade" th:id="'detailsModal' + ${duan.getMaDuAn()}" tabindex="-1"-->
<!--                                 role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">-->
<!--                                <div class="modal-dialog modal-lg" role="document">-->
<!--                                    <div class="modal-content">-->
<!--                                        <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="detailsModalLabel">Chi tiết thông tin</h5>-->
<!--                                            <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                                    aria-label="Close"></button>-->
<!--                                        </div>-->
<!--                                        <div class="modal-body">-->
<!--                                            <table class="table">-->
<!--                                                <tr>-->
<!--                                                    <td>Mã Dự Án:</td>-->
<!--                                                    <td th:text="${duan.getMaDuAn()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Tên Dự Án:</td>-->
<!--                                                    <td th:text="${duan.getTenDuAn()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Tên Doanh Nghiệp:</td>-->
<!--                                                    <td th:text="${duan.getDoanhNghiep().getTenDoanhNghiep()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Lĩnh Vực Kinh Doanh:</td>-->
<!--                                                    <td th:text="${duan.getDoanhNghiep().getLinhVucKinhDoanh()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Số Điện Thoại:</td>-->
<!--                                                    <td th:text="${duan.getDoanhNghiep().getSoDienThoai()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Email:</td>-->
<!--                                                    <td th:text="${duan.getDoanhNghiep().getEmail()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Kinh Phí:</td>-->
<!--                                                    <td th:text="${duan.getKinhPhi()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Thời Gian Đăng Ký:</td>-->
<!--                                                    <td th:text="${duan.getThoiGianDangKy()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Ngày Đăng Ký:</td>-->
<!--                                                    <td th:text="${duan.getNgayDangKy()}"></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Địa Chỉ:</td>-->
<!--                                                    <td th:text="${duan.getDoanhNghiep().getDiaCHi()}"></td>-->
<!--                                                </tr>-->
<!--                                            </table>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">-->
<!--                                                Close-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            &lt;!&ndash; Modal Xác nhận Xóa &ndash;&gt;-->
<!--                            <div class="modal fade" th:id="'deleteModal' + ${duan.getMaDuAn()}" tabindex="-1"-->
<!--                                 role="dialog"-->
<!--                                 th:attr="aria-labelledby='deleteModalLabel' + ${duan.getMaDuAn()}" aria-hidden="true">-->
<!--                                <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                                    <div class="modal-content">-->
<!--                                        <div class="modal-header">-->
<!--                                            <h5 class="modal-title" th:style="'margin-left: 160px'"-->
<!--                                                th:text="'Confirm Delete'">Confirm Delete</h5>-->
<!--                                            <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                                    aria-label="Close"></button>-->
<!--                                        </div>-->
<!--                                        <div class="modal-body text-center">-->
<!--                                            <span th:text="'Are you sure you want to delete the product with name: ' + ${duan.getTenDuAn()} + '?'"></span>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">-->
<!--                                                Close-->
<!--                                            </button>-->
<!--                                            <a th:href="@{/duAn/delete/{maDuAn}(maDuAn=${duan.getMaDuAn()})}"-->
<!--                                               class="btn btn-danger">Confirm</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
                    </tr>
                </th:block>
                </tbody>
                <tbody th:unless="${not #lists.isEmpty(medicalRecords)}">
                <tr>
                    <td colspan="6" class="text-center">Không có sản phẩm nào được tìm thấy.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <!--            Không có search-->

            <!--            <nav aria-label="Page navigation">-->
            <!--                <ul class="pagination">-->
            <!--                    <li th:class="${currentPage == 1}? 'page-item disabled' : 'page-item'">-->
            <!--                        <a class="page-link" th:if="${currentPage != 1}"-->
            <!--                           th:href="@{/product/list(page=${currentPage - 1}, size=${size})}">Previous</a>-->
            <!--                        <span class="page-link" th:unless="${currentPage != 1}">Previous</span>-->
            <!--                    </li>-->
            <!--                    <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}"-->
            <!--                        th:class="${pageNo == currentPage}? 'page-item active' : 'page-item'">-->
            <!--                        <a class="page-link" th:href="@{/product/list(page=${pageNo}, size=${size})}"-->
            <!--                           th:text="${pageNo}"></a>-->
            <!--                    </li>-->
            <!--                    <li th:class="${currentPage == totalPages}? 'page-item disabled' : 'page-item'">-->
            <!--                        <a class="page-link" th:if="${currentPage != totalPages}"-->
            <!--                           th:href="@{/product/list(page=${currentPage + 1}, size=${size})}">Next</a>-->
            <!--                        <span class="page-link" th:unless="${currentPage != totalPages}">Next</span>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </nav>-->

            <!--            có search -->

<!--            <nav aria-label="Page navigation" th:if="${not #lists.isEmpty(duAns)}">-->
<!--                <ul class="pagination">-->
<!--                    <li th:class="${currentPage == 1}? 'page-item disabled' : 'page-item'">-->
<!--                        <a class="page-link" th:if="${currentPage != 1}"-->
<!--                           th:href="@{/duAn/search(page=${currentPage - 1}, size=${size}, tenDuAN=${tenDuAN},doanhNghiep=${doanhNghiep != null ? doanhNghiep.getIdDoanhNghiep() : ''})}">Previous</a>-->
<!--                        <span class="page-link" th:unless="${currentPage != 1}">Previous</span>-->
<!--                    </li>-->
<!--                    <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}"-->
<!--                        th:class="${pageNo == currentPage}? 'page-item active' : 'page-item'">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/duAn/search(page=${pageNo}, size=${size},  tenDuAN=${tenDuAN},doanhNghiep=${doanhNghiep != null ? doanhNghiep.getIdDoanhNghiep() : ''})}"-->
<!--                           th:text="${pageNo}"></a>-->
<!--                    </li>-->
<!--                    <li th:class="${currentPage == totalPages}? 'page-item disabled' : 'page-item'">-->
<!--                        <a class="page-link" th:if="${currentPage != totalPages}"-->
<!--                           th:href="@{/duAn/search(page=${currentPage + 1}, size=${size},  tenDuAN=${tenDuAN},doanhNghiep=${doanhNghiep != null ? doanhNghiep.getIdDoanhNghiep() : ''})}">Next</a>-->
<!--                        <span class="page-link" th:unless="${currentPage != totalPages}">Next</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>